In [1]:
import pandas as pd
import sqlite3
from datetime import datetime

In [2]:
#Connect to Database.
conn = sqlite3.connect("crm.db")
cursor = conn.cursor()

In [3]:
import pandas as pd
import numpy as np

# Load dataset
data = pd.read_csv("B2B_Lead_Gen_Dataset.csv")

# ---------------------------------------------------------
# 1. Standardize column names
# ---------------------------------------------------------
data.columns = data.columns.str.strip().str.replace(" ", "").str.replace("-", "")

# ---------------------------------------------------------
# 2. Clean text fields
# ---------------------------------------------------------
text_fields = ["FirstName", "LastName", "JobTitle", "Email", "Country", "CompanyName", "CompanyIndustry", "Notes"]

for col in text_fields:
    if col in data:
        data[col] = data[col].astype(str).str.strip()

# ---------------------------------------------------------
# 3. Validate ENUMs according to your schema
# ---------------------------------------------------------
valid_seniority = [
    "C-suite", "VP", "Directors", "Managers", "Small Business Owner",
    "Founders / Co-founders", "Heads of Departments",
    "Senior Associates / Lead"
]

data["SeniorityLevel"] = data["SeniorityLevel"].where(data["SeniorityLevel"].isin(valid_seniority), np.nan)

valid_industries = [
    "Consulting", "B2B Services", "B2B SaaS", "Finance", "Technology",
    "HR / Talent / Recruitment", "Marketing Agencies (B2B)", "Healthcare B2B", "Education / Training", "Professional Services",
]
data["CompanyIndustry"] = data["CompanyIndustry"].where(data["CompanyIndustry"].isin(valid_industries), np.nan)

valid_size_category = ["Small", "Startup", "Mid-size", "Scale-up", "Enterprise"]
data["CompanySizeCategory"] = data["CompanySizeCategory"].where(data["CompanySizeCategory"].isin(valid_size_category), np.nan)

valid_sources = [
    "Website forms", "Webinar", "Paid Ads", "LinkedIn",
    "Referral", "Events", "Email Campaign"
]
data["LeadSource"] = data["LeadSource"].where(data["LeadSource"].isin(valid_sources), np.nan)

# ---------------------------------------------------------
# 4. Clean numeric ranges (Impressions, Clicks, ShowUpRate)
# ---------------------------------------------------------
data["Impressions"] = data["Impressions"].clip(lower=0)
data["Clicks"] = data["Clicks"].clip(lower=0)
data["ShowupRate(%)"] = data["ShowupRate(%)"].clip(lower=0, upper=100)

# Optional fix: ensure clicks ≤ impressions
data.loc[data["Clicks"] > data["Impressions"], "Clicks"] = data["Impressions"]

# ---------------------------------------------------------
# 5. Convert Yes/No to Boolean (SQL standard)
# ---------------------------------------------------------
boolean_fields = ["MQL", "SQL", "BookedMeeting", "OpportunityCreated"]
for col in boolean_fields:
    if col in data:
        data[col] = data[col].map({"Yes": 1, "No": 0})

# ---------------------------------------------------------
# 6. Clean ClosedStatus (ENUM)
# ---------------------------------------------------------
valid_closed_status = ["Closed-Won", "Closed-Lost"]
data["ClosedStatus"] = data["ClosedStatus"].where(data["ClosedStatus"].isin(valid_closed_status), None)

# ---------------------------------------------------------
# 7. Ensure LeadScore & ConversionRate numeric
# ---------------------------------------------------------
data["LeadScore"] = pd.to_numeric(data["LeadScore"], errors="coerce").fillna(0).clip(0, 100)
data["ConversionRate(%)"] = pd.to_numeric(data["ConversionRate(%)"], errors="coerce")

data = data.drop(columns=['Notes'])
data = data.rename(columns={
    "ConversionRate(%)": "ConversionRate",
    "ShowupRate(%)": "ShowupRate"
})
# ---------------------------------------------------------
# 8. Save cleaned dataset
# ---------------------------------------------------------
data.to_csv("B2B_Lead_Gen_Dataset_CLEAN.csv", index=False)

data.head()

,LeadID,FirstName,LastName,JobTitle,SeniorityLevel,CompanyName,CompanyIndustry,CompanySizeCategory,CompanySizeRange,Country,...,Impressions,Clicks,ConversionRate,MQL,SQL,BookedMeeting,ShowupRate,OpportunityCreated,OpportunityValue,ClosedStatus
0,L-1000,Danielle,Johnson,VP of Sales,VP,Sanchez-Taylor Inc,Finance,Small,(1-10),Philippines,...,4567,61,10.95,0,0,0,0,0,NaN,None
1,L-1001,Curtis,James,Sales Manager,Managers,Abbott-Munoz Inc,Professional Services,Small,(1-10),Saint Lucia,...,4564,122,10.86,0,0,0,0,0,$0.00,None
2,L-1002,Michael,Santiago,Marketing Director,Directors,"Zuniga, Wong and Lynch and Sons",B2B Services,Small,(1-10),Martinique,...,3212,44,15.51,0,0,0,0,0,NaN,None
3,L-1003,Brenda,Hurst,Senior Analyst,Senior Associates / Lead,Cox-Osborn and Sons,Consulting,Scale-up,(201-1000),Malawi,...,3062,101,4.10,1,1,1,68,0,NaN,None
4,L-1004,Daniel,Graham,Head of Product,Heads of Departments,Smith-Bowen Ltd,Professional Services,Scale-up,(201-1000),Estonia,...,1816,66,9.48,1,0,0,0,0,NaN,None

In [4]:
# ============================
# STEP 5: CREATE SQL TABLES
# ============================

import sqlite3

conn = sqlite3.connect("crm.db")
cursor = conn.cursor()

# Create leads table
cursor.execute("""
CREATE TABLE IF NOT EXISTS leads (
    LeadID INTEGER PRIMARY KEY,
    FullName TEXT,
    Email TEXT,
    Phone TEXT,
    Country TEXT,
    JobTitle TEXT,
    CompanyName TEXT,
    CompanySize TEXT,
    CompanyIndustry TEXT,
    LeadSource TEXT,
    EngagementScore INTEGER,
    WebsiteVisits INTEGER,
    EmailOpens INTEGER,
    EmailClicks INTEGER,
    FormSubmissions INTEGER,
    CallAttempts INTEGER,
    BookedMeeting TEXT,
    ShowUp TEXT,
    ShowUpRate REAL,
    OpportunityCreated TEXT,
    ClosedWon TEXT,
    CreatedDate TEXT
);
""")

conn.commit()

print("✅ SQL Tables Created Successfully.")

✅ SQL Tables Created Successfully.

In [5]:
# Load cleaned dataset
data_clean = pd.read_csv("B2B_Lead_Gen_Dataset_CLEAN.csv")

# --------------------------------------------------
# 1. Remove Notes column if it exists
# --------------------------------------------------
if "Notes" in data_clean.columns:
    data_clean = data_clean.drop(columns=["Notes"])

# --------------------------------------------------
# 2. Fix boolean columns → INTEGER (0/1)
# --------------------------------------------------
bool_cols = ["MQL", "SQL", "BookedMeeting", "OpportunityCreated"]

for col in bool_cols:
    if col in data_clean.columns:
        data_clean[col] = data_clean[col].astype(str).str.lower().map({
            "true": 1, "1": 1, "yes": 1, "y": 1,
            "false": 0, "0": 0, "no": 0, "n": 0
        }).fillna(0).astype(int)

# --------------------------------------------------
# 3. Clean percentage columns → REAL
# --------------------------------------------------
percent_map = {
    "ConversionRate(%)": "ConversionRate",
    "ShowupRate(%)": "ShowupRate"
}

for old_col, new_col in percent_map.items():
    if old_col in data_clean.columns:
        data_clean[new_col] = (
            data_clean[old_col]
            .astype(str)
            .str.replace("%", "", regex=False)
            .astype(float) / 100
        )
        data_clean = data_clean.drop(columns=[old_col])

# --------------------------------------------------
# 4. Convert numeric fields properly
# --------------------------------------------------
numeric_cols = [
    "LeadScore", "Impressions", "Clicks",
    "ConversionRate", "ShowupRate", "OpportunityValue"
]

for col in numeric_cols:
    if col in data_clean.columns:
        data_clean[col] = pd.to_numeric(data_clean[col], errors="coerce")

# --------------------------------------------------
# 5. Convert DateCaptured → TEXT (ISO format)
# --------------------------------------------------
if "DateCaptured" in data_clean.columns:
    data_clean["DateCaptured"] = pd.to_datetime(
        data_clean["DateCaptured"], errors="coerce"
    ).dt.strftime("%Y-%m-%d")

# --------------------------------------------------
# 6. Ensure LeadID is INTEGER
# --------------------------------------------------
data_clean["LeadID"] = data_clean["LeadID"].astype(str)

print("✅ DataFrame cleaned and aligned with SQL schema!")
data_clean.head()

✅ DataFrame cleaned and aligned with SQL schema!

,LeadID,FirstName,LastName,JobTitle,SeniorityLevel,CompanyName,CompanyIndustry,CompanySizeCategory,CompanySizeRange,Country,...,Impressions,Clicks,ConversionRate,MQL,SQL,BookedMeeting,ShowupRate,OpportunityCreated,OpportunityValue,ClosedStatus
0,L-1000,Danielle,Johnson,VP of Sales,VP,Sanchez-Taylor Inc,Finance,Small,(1-10),Philippines,...,4567,61,10.95,0,0,0,0,0,NaN,NaN
1,L-1001,Curtis,James,Sales Manager,Managers,Abbott-Munoz Inc,Professional Services,Small,(1-10),Saint Lucia,...,4564,122,10.86,0,0,0,0,0,NaN,NaN
2,L-1002,Michael,Santiago,Marketing Director,Directors,"Zuniga, Wong and Lynch and Sons",B2B Services,Small,(1-10),Martinique,...,3212,44,15.51,0,0,0,0,0,NaN,NaN
3,L-1003,Brenda,Hurst,Senior Analyst,Senior Associates / Lead,Cox-Osborn and Sons,Consulting,Scale-up,(201-1000),Malawi,...,3062,101,4.10,1,1,1,68,0,NaN,NaN
4,L-1004,Daniel,Graham,Head of Product,Heads of Departments,Smith-Bowen Ltd,Professional Services,Scale-up,(201-1000),Estonia,...,1816,66,9.48,1,0,0,0,0,NaN,NaN

In [6]:
sql_columns = [
    'LeadID', 'FirstName', 'LastName', 'JobTitle', 'SeniorityLevel',
    'CompanyName', 'CompanyIndustry', 'CompanySizeCategory',
    'CompanySizeRange', 'Country', 'Email', 'PhoneNumber', 'LeadSource',
    'DateCaptured', 'LeadScore', 'Impressions', 'Clicks',
    'ConversionRate', 'MQL', 'SQL', 'BookedMeeting', 'ShowupRate',
    'OpportunityCreated', 'OpportunityValue', 'ClosedStatus'
]

missing = [col for col in sql_columns if col not in data_clean.columns]
extra = [col for col in data.columns if col not in sql_columns]

print("Missing Columns:", missing)
print("Extra Columns:", extra)

Missing Columns: []
Extra Columns: []

In [7]:
data_clean.to_sql("lead", conn, if_exists="append", index=False)
print("✅ CLEAN dataset inserted successfully!")

✅ CLEAN dataset inserted successfully!

In [8]:
# Show SQL table structure
cursor.execute("PRAGMA table_info(lead);")
cursor.fetchall()

[(0, 'LeadID', 'TEXT', 0, None, 0),
 (1, 'FirstName', 'TEXT', 0, None, 0),
 (2, 'LastName', 'TEXT', 0, None, 0),
 (3, 'JobTitle', 'TEXT', 0, None, 0),
 (4, 'SeniorityLevel', 'TEXT', 0, None, 0),
 (5, 'CompanyName', 'TEXT', 0, None, 0),
 (6, 'CompanyIndustry', 'TEXT', 0, None, 0),
 (7, 'CompanySizeCategory', 'TEXT', 0, None, 0),
 (8, 'CompanySizeRange', 'TEXT', 0, None, 0),
 (9, 'Country', 'TEXT', 0, None, 0),
 (10, 'Email', 'TEXT', 0, None, 0),
 (11, 'PhoneNumber', 'TEXT', 0, None, 0),
 (12, 'LeadSource', 'TEXT', 0, None, 0),
 (13, 'DateCaptured', 'TEXT', 0, None, 0),
 (14, 'LeadScore', 'INTEGER', 0, None, 0),
 (15, 'Impressions', 'INTEGER', 0, None, 0),
 (16, 'Clicks', 'INTEGER', 0, None, 0),
 (17, 'ConversionRate', 'REAL', 0, None, 0),
 (18, 'MQL', 'INTEGER', 0, None, 0),
 (19, 'SQL', 'INTEGER', 0, None, 0),
 (20, 'BookedMeeting', 'INTEGER', 0, None, 0),
 (21, 'ShowupRate', 'INTEGER', 0, None, 0),
 (22, 'OpportunityCreated', 'INTEGER', 0, None, 0),
 (23, 'OpportunityValue', 'REAL', 0, None, 0),
 (24, 'ClosedStatus', 'TEXT', 0, None, 0)]

In [9]:
import pandas as pd

# ---------------------------------------------------------
# STEP 7: SCORING ENGINE
# ---------------------------------------------------------

def calculate_lead_score(row):

    score = 0

    # ---------------------------------------------------------
    # 1. Industry Fit (Max 25 pts)
    # ---------------------------------------------------------
    industry_scores = {
        "Consulting": 25,
        "B2B Services": 25,
        "B2B SaaS": 25,
        "Finance": 20,
        "Technology": 20,
        "HR / Talent / Recruitment": 15,
        "Marketing Agencies (B2B)": 10,
        "Healthcare B2B": 10,
        "Education / Training": 10,
        "Professional Services": 15,
    }
    score += industry_scores.get(row["CompanyIndustry"], 0)

    # ---------------------------------------------------------
    # 2. Seniority (Max 20 pts)
    # ---------------------------------------------------------
    seniority_scores = {
        "C-suite": 20,
        "VP / Director": 15,
        "Head / Lead": 10,
        "Manager": 5,
        "Associate": 2,
        "Intern": 0
    }
    # Handle variations in seniority levels from data cleaning
    seniority_level = str(row["SeniorityLevel"])
    if "C-suite" in seniority_level:
        score += seniority_scores["C-suite"]
    elif "VP" in seniority_level or "Directors" in seniority_level:
        score += seniority_scores["VP / Director"]
    elif "Head" in seniority_level or "Lead" in seniority_level or "Founders" in seniority_level:
        score += seniority_scores["Head / Lead"]
    elif "Manager" in seniority_level or "Owner" in seniority_level:
        score += seniority_scores["Manager"]
    elif "Associate" in seniority_level:
        score += seniority_scores["Associate"]

    # ---------------------------------------------------------
    # 3. Company Size (Max 20 pts)
    # ---------------------------------------------------------
    size_scores = {
        "Enterprise": 20, # Corresponds to "1000+"
        "Scale-up": 15,   # Corresponds to "500-999" or large part of "200-499"
        "Mid-size": 10,   # Corresponds to "200-499" or "50-199"
        "Startup": 7,    # Corresponds to "10-49" or smaller end of "50-199"
        "Small": 5       # Corresponds to "1-9" or "10-49"
    }
    score += size_scores.get(row["CompanySizeCategory"], 0)

    # ---------------------------------------------------------
    # 4. Marketing Engagement (Max 20 pts)
    # ---------------------------------------------------------
    if row["Impressions"] > 5000:
        score += 5
    if row["Clicks"] > 50:
        score += 7
    if row["ConversionRate"] > 5:
        score += 8

    # ---------------------------------------------------------
    # 5. Intent Signals (Max 30 pts)
    # ---------------------------------------------------------
    if row["MQL"] == 1:
        score += 10
    if row["SQL"] == 1:
        score += 10
    if row["BookedMeeting"] == 1:
        score += 10
    if row["ShowupRate"] > 60:
        score += 10
    if row["OpportunityCreated"] == 1:
        score += 20
    if row["OpportunityValue"] > 0:
        score += 10

    if row["ClosedStatus"] == "Closed-Won": # Use "Closed-Won" as per previous cleaning step
        score += 30
    elif row["ClosedStatus"] == "Closed-Lost":
        score += 0

    # ---------------------------------------------------------
    # Return Score + Category (Hot / Warm / Cold)
    # ---------------------------------------------------------
    category = (
        "Hot" if score >= 70 else
        "Warm" if score >= 40 else
        "Cold"
    )

    return pd.Series({
        "Score": score,
        "ScoreCategory": category
    })



# ---------------------------------------------------------
# APPLY SCORING ENGINE TO CLEAN DATASET
# ---------------------------------------------------------
# Apply the scoring engine and expand the results into new columns
scoring_results = data_clean.apply(calculate_lead_score, axis=1, result_type="expand")

# Update the 'LeadScore' column and add a new 'ScoreCategory' column
data_clean["LeadScore"] = scoring_results["Score"]
data_clean["ScoreCategory"] = scoring_results["ScoreCategory"]

print("🎯 Lead scoring completed!")
data_clean.head()

🎯 Lead scoring completed!

,LeadID,FirstName,LastName,JobTitle,SeniorityLevel,CompanyName,CompanyIndustry,CompanySizeCategory,CompanySizeRange,Country,...,Clicks,ConversionRate,MQL,SQL,BookedMeeting,ShowupRate,OpportunityCreated,OpportunityValue,ClosedStatus,ScoreCategory
0,L-1000,Danielle,Johnson,VP of Sales,VP,Sanchez-Taylor Inc,Finance,Small,(1-10),Philippines,...,61,10.95,0,0,0,0,0,NaN,NaN,Warm
1,L-1001,Curtis,James,Sales Manager,Managers,Abbott-Munoz Inc,Professional Services,Small,(1-10),Saint Lucia,...,122,10.86,0,0,0,0,0,NaN,NaN,Warm
2,L-1002,Michael,Santiago,Marketing Director,Directors,"Zuniga, Wong and Lynch and Sons",B2B Services,Small,(1-10),Martinique,...,44,15.51,0,0,0,0,0,NaN,NaN,Warm
3,L-1003,Brenda,Hurst,Senior Analyst,Senior Associates / Lead,Cox-Osborn and Sons,Consulting,Scale-up,(201-1000),Malawi,...,101,4.10,1,1,1,68,0,NaN,NaN,Hot
4,L-1004,Daniel,Graham,Head of Product,Heads of Departments,Smith-Bowen Ltd,Professional Services,Scale-up,(201-1000),Estonia,...,66,9.48,1,0,0,0,0,NaN,NaN,Warm

In [10]:
# ---------------------------------------------------------
# STEP 7: SCORING ENGINE
# ---------------------------------------------------------
with sqlite3.connect("crm.db") as conn:
    df_full = pd.read_sql_query("SELECT * FROM lead", conn)

print("✅ Loaded unified lead table!", "Rows loaded:", len(df_full))
df_full.head()

✅ Loaded unified lead table! Rows loaded: 3000

,LeadID,FirstName,LastName,JobTitle,SeniorityLevel,CompanyName,CompanyIndustry,CompanySizeCategory,CompanySizeRange,Country,...,Impressions,Clicks,ConversionRate,MQL,SQL,BookedMeeting,ShowupRate,OpportunityCreated,OpportunityValue,ClosedStatus
0,L-1000,Danielle,Johnson,VP of Sales,VP,Sanchez-Taylor Inc,Finance,Small,(1-10),Philippines,...,4567,61,10.95,0,0,0,0,0,None,None
1,L-1001,Curtis,James,Sales Manager,Managers,Abbott-Munoz Inc,Professional Services,Small,(1-10),Saint Lucia,...,4564,122,10.86,0,0,0,0,0,None,None
2,L-1002,Michael,Santiago,Marketing Director,Directors,"Zuniga, Wong and Lynch and Sons",B2B Services,Small,(1-10),Martinique,...,3212,44,15.51,0,0,0,0,0,None,None
3,L-1003,Brenda,Hurst,Senior Analyst,Senior Associates / Lead,Cox-Osborn and Sons,Consulting,Scale-up,(201-1000),Malawi,...,3062,101,4.10,1,1,1,68,0,None,None
4,L-1004,Daniel,Graham,Head of Product,Heads of Departments,Smith-Bowen Ltd,Professional Services,Scale-up,(201-1000),Estonia,...,1816,66,9.48,1,0,0,0,0,None,None

In [11]:
# Before applying the score function, ensure numeric columns are correctly typed and NaNs/None are handled.
# This is necessary because loading from SQL might convert NaNs (from previous cleaning) to None.
numeric_cols_for_scoring = [
    "LeadScore", "Impressions", "Clicks",
    "ConversionRate", "ShowupRate", "OpportunityValue"
]

# Initialize final_df with df_full, as df_full is the DataFrame loaded from the database
final_df = df_full.copy()

for col in numeric_cols_for_scoring:
    if col in final_df.columns:
        # Convert to numeric, coercing errors (like None) to NaN, then fill NaN with 0 for scoring
        final_df[col] = pd.to_numeric(final_df[col], errors="coerce").fillna(0)

# Apply the scoring engine using the calculate_lead_score function directly
# The calculate_lead_score function already returns a Series with 'Score' and 'ScoreCategory'
scoring_results = final_df.apply(calculate_lead_score, axis=1, result_type="expand")

# Add the new 'LeadScore' and 'ScoreCategory' columns to final_df
final_df["LeadScore"] = scoring_results["Score"]
final_df["ScoreCategory"] = scoring_results["ScoreCategory"]


print("✅ Scoring applied!")
final_df.head()

✅ Scoring applied!

,LeadID,FirstName,LastName,JobTitle,SeniorityLevel,CompanyName,CompanyIndustry,CompanySizeCategory,CompanySizeRange,Country,...,Clicks,ConversionRate,MQL,SQL,BookedMeeting,ShowupRate,OpportunityCreated,OpportunityValue,ClosedStatus,ScoreCategory
0,L-1000,Danielle,Johnson,VP of Sales,VP,Sanchez-Taylor Inc,Finance,Small,(1-10),Philippines,...,61,10.95,0,0,0,0,0,0.0,None,Warm
1,L-1001,Curtis,James,Sales Manager,Managers,Abbott-Munoz Inc,Professional Services,Small,(1-10),Saint Lucia,...,122,10.86,0,0,0,0,0,0.0,None,Warm
2,L-1002,Michael,Santiago,Marketing Director,Directors,"Zuniga, Wong and Lynch and Sons",B2B Services,Small,(1-10),Martinique,...,44,15.51,0,0,0,0,0,0.0,None,Warm
3,L-1003,Brenda,Hurst,Senior Analyst,Senior Associates / Lead,Cox-Osborn and Sons,Consulting,Scale-up,(201-1000),Malawi,...,101,4.10,1,1,1,68,0,0.0,None,Hot
4,L-1004,Daniel,Graham,Head of Product,Heads of Departments,Smith-Bowen Ltd,Professional Services,Scale-up,(201-1000),Estonia,...,66,9.48,1,0,0,0,0,0.0,None,Warm

In [12]:
conn = sqlite3.connect("crm.db")

final_df.to_sql("lead_scored", conn, if_exists="replace", index=False)

print("✅ Saved to SQL as 'lead_scored'")

✅ Saved to SQL as 'lead_scored'

In [13]:
final_df.to_csv("lead_scored.csv", index=False)
print("📦 Exported lead_scored.csv")

📦 Exported lead_scored.csv

In [ ]:
import requests

HOT_WEBHOOK_URL = "https://hooks.slack.com/services/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"
WARM_WEBHOOK_URL = "https://hooks.slack.com/services/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"


def send_slack_alert(row):
    """Send a Slack notification for Hot leads."""

    # Build proper name safely
    first = row.get("FirstName", "")
    last = row.get("LastName", "")
    full_name = f"{first} {last}".strip() if (first or last) else "N/A"

    message = {
        "text": f"""
🔥 *New HOT Lead Detected!*
*Name:* {full_name}
*Company:* {row.get('CompanyName', 'N/A')}
*Industry:* {row.get('CompanyIndustry', 'N/A')}
*Job Title:* {row.get('JobTitle', 'N/A')}
*Score:* {row['LeadScore']}
*Category:* {row['ScoreCategory']}

👉 Recommended action: Immediate follow-up.
"""
    }
    requests.post(HOT_WEBHOOK_URL, json=message)

In [ ]:
hot_leads = final_df[final_df["ScoreCategory"] == "Hot"]

for _, row in hot_leads.iterrows():
    send_slack_alert(row)


print("🚀 Slack alerts sent for HOT leads!")

🚀 Slack alerts sent for HOT leads!

In [ ]:
warm_leads = final_df[final_df["ScoreCategory"] == "Warm"]

for _, row in warm_leads.iterrows():
    message = (
        f"🌤 *Warm Lead – Nurture Required*\n"
        f"*Name:* {row['FirstName']} {row['LastName']}\n"
        f"*Company:* {row['CompanyName']}\n"
        f"*Score:* {row['LeadScore']}\n"
        f"*Category:* {row['ScoreCategory']}"
    )

    requests.post(WARM_WEBHOOK_URL, json={"text": message})

In [17]:
final_df[["LeadScore","ScoreCategory"]].head(20)

    LeadScore ScoreCategory
0          55          Warm
1          40          Warm
2          53          Warm
3          97           Hot
4          65          Warm
5          43          Warm
6          45          Warm
7          43          Warm
8          50          Warm
9          57          Warm
10         35          Cold
11         54          Warm
12         45          Warm
13         75           Hot
14         60          Warm
15         47          Warm
16         63          Warm
17         45          Warm
18         53          Warm
19        147           Hot